body {
    text-align: center
}

h1 {
    background-color: #0bd;
    color: #fff;
    display: inline-block;
    padding: 6rem 3rem;
    border-radius: 50%;
}

h2 {
    margin: 10xp;
    text-align: center;
}