body {
    text-align: center
}

h1 {
    color: #fff;
    display: inline-block;
    background-image: linear-gradient(90deg, #0bd, #0bd 50%, white 50%, white); /*deg90で縦で2分する＝２色に分ける　180なら水平で分ける*/
    /* background-color:red; */
    background-size: 200% 100%; /*背景が横に2倍広い*/
    /* 初期位置は左端（指定してない場合の既定） */
    /* background-position: 100% 0%; */
    padding: .5rem 1rem;
}

h2 {
    margin: 10xp;
    text-align: center;
}