/* ローディング画面 */
#loading {
    transition: all 3s;
    background-color:black;
    position: fixed;
    z-index: 9999;
    inset: 0px;
    display: grid;
    place-items: center;
}

.spinner {
    width: 200px;
    height: 200px;
}

/* コンテンツ部分 */
.gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* ローディングが終了したらローディング画面を消す */
.loaded {
    opacity: 0;
    visibility: hidden;
}